@import "tailwindcss";
@tailwind utilities;

:root {
  --background: #171719;
  --foreground: #FEFEFE;
  --primary: #9CFF01;
  --black: #171719;
  --white: #FEFEFE;
}

@theme inline {
  /* Custom Colors */
  --color-primary: var(--primary);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-black-primary: var(--black);
  --color-white-primary: var(--white);

  /* Custom Fonts */
  --font-sans: var(--font-manrope);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171719;
    --foreground: #FEFEFE;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-manrope), sans-serif;
}
